body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

/* universial selector and padding, elements(buttons are in line with the input at sign-in*/
/* paading, margin, border don't affect the elements line */
* {
  box-sizing: border-box;
}
